@media (max-width: 1024px){
    .card-body.d-flex.flex-lg-row.flex-sm-column.align-content-start.pr-5.pl-5 {
        flex-direction: column;
    }

    h1.mb-3 {
        text-align: center;
        margin-left: -63px;
    }

    .chart-home {
        width: 279px;
        height: 279px;
    }
    
    .d-flex.pr-3.pl-3 {
        flex-direction: column;
        align-items: center;
    }

    button.navbar-toggler.p-0.border-0 {
        display: none;
    }

}

