tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

button.swal2-close {
    outline: none!important;
}


.avaliation-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 36px;
    border-color: transparent;
    border-bottom-color: whitesmoke;
    padding: 0px 42px;
}


.no-border-bottom{
    border-bottom-color: transparent;
}