tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

td {
    text-align: center;
}


.ck.ck-content.ck-editor__editable {
    color: black;
}


.textPlaceholderCert{
    display: block;
    border-color: rgba(0,0,0,.1);
    border-radius: 6px;
    padding: 3px 6px;
}


@media (min-width: 992px){


    .swal2-popup.swal2-modal.swal2-icon-info.swal2-show {
        width: 80%;
    }

    .modal-lg, .modal-xl {
        max-width: 99%!important;
    }

    li.list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div#tableCordinators_length {
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    div#tableCordinators_length label {
        margin-bottom: 0px;
    }

    div#tableAvaliators_length {
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    div#tableAvaliators_length label {
        margin-bottom: 0px;
    }

    div#tableAvaliationsList_length {
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    div#tableAvaliationsList_length label {
        margin-bottom: 0px;
    }

    div#tableWorks_length {
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    div#tableWorks_length label {
        margin-bottom: 0px;
    }

    div#tableIndicationsWork_length {
        width: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    div#tableIndicationsWork_length label {
        margin-bottom: 0px;
    }


    .swal2-container.swal2-center.swal2-backdrop-show {
        overflow-y: auto!important;
    }

    small.mb-1.text-left {
        display: block;
        line-height: 2em;
    }
  
    .swal2-container.swal2-center.swal2-backdrop-show {
        z-index: 999999!important;
    }

}

button.swal2-close {
    outline: none!important;
}