html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px!important;
}

div#tableTransactions_paginate,
div#tableProducts_paginate,
div#tableUsers_paginate {
  float: right;
}

div.dataTables_wrapper > div.row > div.col-sm-12.col-md-6:last-child  {
  text-align: right;
}

div.dataTables_wrapper > .row:nth-child(2) {
  margin-top: 9px;
}

div.tab-content {
  background: #fff;
  padding: 3px 16px;
  border: 1px solid #dee2e6;
  border-top: 0px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


/* LOADER */


@keyframes ldio-yrol3k037oq {
  0% {
    top: 97.28999999999999px;
    left: 97.28999999999999px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 17.595px;
    left: 17.595px;
    width: 159.39px;
    height: 159.39px;
    opacity: 0;
  }
}.ldio-yrol3k037oq div {
  position: absolute;
  border-width: 6.209999999999999px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-yrol3k037oq 1.5873015873015872s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-yrol3k037oq div:nth-child(1) {
  border-color: #85a2b6;
  animation-delay: 0s;
}
.ldio-yrol3k037oq div:nth-child(2) {
  border-color: #bbcedd;
  animation-delay: -0.7936507936507936s;
}
.loadingio-spinner-ripple-48a94hoxow {
  width: 207px;
  height: 207px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-yrol3k037oq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yrol3k037oq div { box-sizing: content-box; }
.page-hover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f1f2f3f5;
  z-index: 9991;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (min-width: 1024px){
  li.nav-item.active {
    background: #f8f9fa;
    margin-bottom: -10px;
  }
  
  li.nav-item.active > a {
    color: #343a40!important;
  }
  
}





/* TIMELINE */


.tracking-detail {
  padding:3rem 0
 }
 #tracking {
  margin-bottom:1rem
 }
 [class*=tracking-status-] p {
  margin:0;
  font-size:1.1rem;
  color:#fff;
  text-transform:uppercase;
  text-align:center
 }
 [class*=tracking-status-] {
  padding:1.6rem 0
 }
 .tracking-status-intransit {
  background-color:#65aee0
 }
 .tracking-status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-status-delivered {
  background-color:#4cbb87
 }
 .tracking-status-attemptfail {
  background-color:#b789c7
 }
 .tracking-status-error,.tracking-status-exception {
  background-color:#d26759
 }
 .tracking-status-expired {
  background-color:#616e7d
 }
 .tracking-status-pending {
  background-color:#ccc
 }
 .tracking-status-inforeceived {
  background-color:#214977
 }
 .tracking-list {
  /* border:1px solid #e5e5e5 */
 }
 .tracking-item {
  border-left:1px solid #e5e5e5;
  position:relative;
  padding:2rem 1.5rem .5rem 2.5rem;
  font-size:.9rem;
  margin-left:3rem;
  min-height:5rem
 }
 .tracking-item:last-child {
  padding-bottom:4rem
 }
 .tracking-item .tracking-date {
  margin-bottom:.5rem
 }
 .tracking-item .tracking-date span {
  color:#888;
  font-size:85%;
  padding-left:.4rem
 }
 .tracking-item .tracking-content {
  padding:.5rem .8rem;
  background-color:#f4f4f4;
  border-radius:.5rem
 }
 .tracking-item .tracking-content span {
  display:block;
  color:#888;
  font-size:85%
 }
 .tracking-item .tracking-icon {
  line-height:2.6rem;
  position:absolute;
  left:-1.3rem;
  width:2.6rem;
  height:2.6rem;
  text-align:center;
  border-radius:50%;
  font-size:1.1rem;
  background-color:#fff;
  color:#fff
 }
 .tracking-item .tracking-icon.status-sponsored {
  background-color:#f68
 }
 .tracking-item .tracking-icon.status-delivered {
  background-color:#4cbb87
 }
 .tracking-item .tracking-icon.status-outfordelivery {
  background-color:#f5a551
 }
 .tracking-item .tracking-icon.status-deliveryoffice {
  background-color:#f7dc6f
 }
 .tracking-item .tracking-icon.status-attemptfail {
  background-color:#b789c7
 }
 .tracking-item .tracking-icon.status-exception {
  background-color:#d26759
 }
 .tracking-item .tracking-icon.status-inforeceived {
  background-color:#214977
 }
 .tracking-item .tracking-icon.status-intransit {
  color:#e5e5e5;
  border:1px solid #e5e5e5;
  font-size:.6rem
 }
 @media(min-width:992px) {
  .tracking-item {
   margin-left:10rem
  }
  .tracking-item .tracking-date {
   position:absolute;
   left:-10rem;
   width:7.5rem;
   text-align:right
  }
  .tracking-item .tracking-date span {
   display:block
  }
  .tracking-item .tracking-content {
   padding:0;
   background-color:transparent
  }
 }


@media (min-width: 992px){
  ul.navbar-nav.mr-auto > li > a {
      border-color: white;
      width: 133px;
      margin: 0px!important;
      justify-content: space-around;
      display: flex;
      line-height: 16px;
      padding-top: 13px;
      padding-bottom: 9px;
      flex-direction: row-reverse;
  }

  ul.navbar-nav.mr-auto > li.nav-item.active:hover {
    background: #f8f9fa;
  }

  ul.navbar-nav.mr-auto > li.nav-item:hover {
    background: #f8f9fa71;
    margin-bottom: -10px;
  }
}





.bg-dark{
  background-color: #343a40!important;
  color: white;
}

/* .bg-dark > section > div.row > div.col-lg-12 > ul > li.nav-item > a {
  background-color: #343a40!important;
  color: white;
  border-bottom: 1px solid white;
}

.bg-dark > section > div.row > div.col-lg-12 > ul > li.nav-item > a.active {
  background-color: #343a40!important;
  color: white;
  border-bottom: 1px solid transparent;
} */
/* 
.bg-dark-force{
  background-color: transparent!important;
  color: white!important;
} */

table.dataTable.table-dark.display tbody tr.odd > .sorting_1, table.dataTable.table-dark.order-column.stripe tbody tr.odd > .sorting_1 ,
table.dataTable.stripe.table-dark tbody tr.odd, table.dataTable.table-dark.display tbody tr.odd {
  background-color: #f9f9f929;
}


table.dataTable.table-dark.display tbody tr.even > .sorting_1, table.dataTable.table-dark.order-column.stripe tbody tr.even > .sorting_1 ,
table.dataTable.stripe.table-dark tbody tr.even, table.dataTable.table-dark.display tbody tr.even {
  background-color: #ffffff00;
}


/* .bg-dark > section > div label {
  background: transparent;
  color: white!important;
}

.bg-dark > section > div label > select,
.bg-dark > section > div label > input {
  background: white!important;
} */