html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}


.formError, .formSuccess{
  display: none;
}


.modal-dialog.modal-lg {
  max-width: 1220!important;
}

.dataTables_scrollHeadInner {
  width: 100%!important;
  display: flex;
}

table.display.nowrap.table-dark.dataTable.no-footer,
table.display.nowrap.dataTable.no-footer  {
  width: 100%!important;
}
